// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";

h1 {
  margin: 0px;
}

h3 {
  margin: 0px;
}

a {
  &:visited {
    text-decoration: none;
    color: white;
  }
  &:link {
    text-decoration: none;
  }
}

.main-container {
  padding-left: 0px;
  padding-right: 0px;
}

.paragraph {
  padding: 150px 0px 150px 0px;
  width: 100%;
}
