$duration: 1s;
$delay: 0.7s;

$initial-top: -20px;
$initial-opacity: 0;

$final-opacity: 1;
$final-top: 0;


.square {
  width: 200px;
  height: 200px;
  background: blue;
  margin: 50px auto;
}

@keyframes fadeAndSlide {
  0% {
    opacity: $initial-opacity;
    top: $initial-top;
  }

  100% {
    opacity: $final-opacity;
    top: $final-top;
  }
}

@-webkit-keyframes fadeAndSlide {
  0% {
    opacity: $initial-opacity;
    top: $initial-top;
  }

  100% {
    opacity: $final-opacity;
    top: $final-top;
  }
}

@-moz-keyframes fadeAndSlide {
  0% {
    opacity: $initial-opacity;
    top: $initial-top;
  }

  100% {
    opacity: $final-opacity;
    top: $final-top;
  }
}


.fade-and-slide {
  position: relative;
  top: $initial-top;
  opacity: $initial-opacity;
  animation: fadeAndSlide $duration $delay ease forwards;
  -webkit-animation: fadeAndSlide $duration $delay ease forwards;
  -moz-animation: fadeAndSlide $duration $delay ease forwards;
}

.desc-wrapper {
    // -webkit-animation: feature-text-anim .75s ease-in-out;
    animation: feature-text-anim .75s ease-in-out;
    z-index: 100;
    position: relative;
    width: 100%;
    max-width: 956px;
    -moz-box-sizing: border-box;
    // -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 32px;
    text-align: center;
    text-rendering: optimizeLegibility;
}
