.ready-to-apply {
  display: flex;
}

.modal-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //opacity: 0.6;
  //padding: 100px;
  display: flex;
}

.modal-inner {
  max-width: 600px;
  margin: auto;
  flex: 1;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.form-inline .form-control {
  display: block;
  width: 100%;
}

.field-container {
  margin: 0px 0px 20px 0px;
}

.name .field {
  width: 48%;
  float: left;
  font-size: 11px;
  font-weight: 100;
}

.modal .field-title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 7px;
}

label {
  font-weight: 100;
  width: 100%;
  margin-bottom: 0;
}

label p {
  margin: 10px 0 0 0;
}

.btn-submit {
  font-family: $my-font, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-style: normal;
  margin: 1em 0 .8em;
  text-rendering: optimizeLegibility;
  background-color: $red;
  color: white;
  border-radius: 2px;
  padding: 14px 34px;
  border: none;
  height: 43px;
  border-radius: 2px;
  font-size: 16px;
  height: 48px;
  width: 248px;
  margin-top: 20px;
  transition: 0.1s all ease;
  outline: none;
  &:hover {
    color: white;
    background-color: $red-darker;
    text-decoration: none;
    text-shadow: none;
  }
  &:visited {
    text-decoration: none;
  }
}

.modal-header .close {
  outline: none;
}

.container-pricing {
  background: $green;
  margin-bottom: 20px;
  padding: 20px 0px 20px 0px;
}
.container-pricing span {
  // text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  color: white;
}
.pricing span {
  marging: 0;
  color: #595A57;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 400;
}
.pricing p {
  margin: 14px 0px 14px 0px;
}


.grey-outline-up {
  // background-color: #f5f5f5;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 2px;
  padding: 1em;
  // box-shadow: 0px 1px 2px #DEDEDE;
}
.grey-outline-all {
  // background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 1em;
  // box-shadow: 0px 1px 2px #DEDEDE;
}

