.ready-to-apply {
  display: flex;
}

.bg-white {
  background-color: white;
}

.font-price {
  h2 {
  color: $green;
  text-transform: uppercase;

  }
}


/******* Prices Tab *********/

.container-pricing {
  // background: $green;
  margin-bottom: 20px;
  padding: 20px 0px 20px 0px;
}
.container-pricing span {
  // text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  color: $gray-darker;
}

.pricetag-circle {
  color: white;
  display: block;
  background: white;
  width: 230px;
  height: 230px;
  padding-top: 60px;
  border-radius: 200px;
  margin: 3em auto;
  border: 6px solid $green;;
  box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.1);

  span {
    display: block;
  }
}

.pricetag-label {
  display: block;
  color: $gray;
  font-weight: 600;
  // letter-spacing: 2px;
}

.pricetag-number {
  display: block;
  font-size: 4.6rem;
  // line-height: 1em;
  font-weight: 600;
  text-align: center;
  color: $green;
  letter-spacing: 2px;
}

.month {
  font-weight: 100;
}

.price input {
  height: 60px;
  padding-top: 14px;
}

/********* Apply Button ***********/

.btn-submit {
  font-family: $my-font, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-style: normal;
  margin: 1em 0 .8em;
  text-rendering: optimizeLegibility;
  background-color: $red;
  color: white;
  border-radius: 2px;
  padding: 14px 34px;
  border: none;
  height: 43px;
  border-radius: 2px;
  font-size: 16px;
  height: 48px;
  width: 248px;
  margin-top: 20px;
  transition: 0.1s all ease;
  outline: none;
  &:hover {
    color: white;
    background-color: $red-darker;
    text-decoration: none;
    text-shadow: none;
  }
  &:visited {
    text-decoration: none;
  }
}


/******* Apply Modal **********/

.modal {
  font-family: $my-font, sans-serif;
  color: $gray-dark;
  &-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //opacity: 0.6;
    //padding: 100px;
    display: flex;
  }
  &-inner {
    max-width: 600px;
    margin: auto;
    flex: 1;
  }
  &-header {
    border-bottom: none;
  }
  &-subtitle {
    color: $green;
    line-height: 1.4em;
  }
  &-footer {
    border-top: none;
  }
  .field-container {
    margin: 0px 0px 20px 0px;
  }
  .name .field {
    width: 48%;
    float: left;
    font-size: 11px;
    font-weight: 100;
  }
  .field-title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 7px;
  }
  .form-inline .form-control {
    display: block;
    width: 100%;
    font-size: 14px;
  }
  input:focus {
    outline: none !important;
    border: 1px solid $red;
    box-shadow: 0 0 10px $red;
  }
  &-header .close {
    outline: none;
  }
  label {
    font-weight: 100;
    width: 100%;
    margin-bottom: 0;
    p {
      margin: 10px 0 0 0;
      font-size: 1em;
    }
  }
}


/********** Responsive Mobile ********/

@media (max-width: 767px) {
  .pricetag-circle {
    margin: auto;
    height: 135px;
    padding-top: 20px;
    border: none;
    box-shadow: none;
  }
  .bordered-top {
    border-top: 1px solid #ccc;
    border-radius: 0px;
  }
  .uppercase-style {
    font-size: 18px;
  }
  .pricetag-number {
    font-size: 3rem;
  }
  .month {
    font-size: 17px;
  }
  .container-pricing {
    padding: 0px;
  }
  .container-pricing span {
    letter-spacing: 0px;
    font-size: 14px;
  }
  .price input {
    height: 45px;
    padding-top: 10px;
  }
}

// @media (min-width: 350px) and (max-width: 767px) {
// }

