.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $my-font, sans-serif;
  font-style: normal;
  text-shadow: 0px 2px 2px #5A5A5A;
  h1 {
    font-size: 68px;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.0588235em;
    padding-top: 20%;
    color: white;
    margin: 0px;
  }
  h2 {
    font-size: 32px;
    line-height: 1.2em;
    letter-spacing: 2px;
    font-weight: 200;
    margin: 1em 0 .5em;
    color: white;
    text-rendering: optimizeLegibility;
  }
  p {
    font-size: 18px;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    margin: 1em 0 .8em;
    color: white;
    text-rendering: optimizeLegibility;
  }
  .date-apply-padding-down {
    padding-top: 120px;
    flex: 1;
  }
}

.banner-content {
    flex: 1;
    margin: 0px;
    align-items: center;
    color: #fff;
    &-button {
      color: white;
      font-size: 16px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: 600;
      font-style: normal;
      transition: 0.1s background-color linear, 0.1s color linear;
      margin: 1em 0 .8em;
      text-rendering: optimizeLegibility;
      background-color: none;
      border-radius: 86px;
      line-height: 74px;
      padding: 18px 34px;
      border: 2px solid white;
      &:hover {
        color: white;
        border-color: $red;
        background-color: $red;
        text-decoration: none;
        text-shadow: none;
      }
    }
  }


.bg-gradient-banner {
  background: linear-gradient(205deg, rgba(168, 0, 132, 0.74) 0%, rgba(0, 24, 61, 0.67) 50%);
}
