.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $my-font, sans-serif;
  font-style: normal;
  text-shadow: 0px 2px 2px #5A5A5A;
  h1 {
    font-family: $my-font, sans-serif;
    font-size: 32px;
    line-height: 1.2em;
    letter-spacing: 2px;
    font-weight: 200;
    margin: 1em 0 .5em;
    color: white;
    text-rendering: optimizeLegibility;
  }
  h2 {
    font-family: $my-font, sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    margin: 1em 0 .8em;
    color: white;
    text-rendering: optimizeLegibility;
  }
  p {
    font-family: $my-font, sans-serif;
    font-size: 68px;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.0588235em;
    padding-top: 20%;
    color: white;
    margin: 0px;
  }
  .date-apply-padding-down {
    padding-top: 120px;
    flex: 1;
  }
}




