.partner-icons {
  margin: 25px 0px 50px 0px;
}

.become-partner-btn {
  height: 100px;
}

.price a {
  padding: 16px 34px;
}
.price a:visited {
  color: $red;
}
.price a:link {
  color: $red;
}
.price a:active {
  color: $red;
}
.price a:hover {
  color: white;
}
.price a:visited:hover {
  color: white;
}

