.partner-icons {
  // margin: 25px 0px 25px 0px;
  margin: 1.5em 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100px;
  }
}

.become-partner-btn {
  display: inline-block;
  margin: 2em 0px;
}

.become-partner-btn {
  a {
    // padding: 16px 34px;
    height: 60px;
  }
  a:visited, a:link, a:active {
    color: $red;
  }
  a:hover, a:visited:hover {
    color: white;
  }
}

@media (max-width: 767px) {
  .partner-icons {
    margin: 1em 0;
    img {
      width: 75px;
    }
  }
  .become-partner-btn {
    margin: 1.5em 0px;
  }
}
