.partner-icons {
  margin: 25px 0px 50px 0px;
}

.become-partner-btn {
  height: 100px;
}

.price {
  a {
    padding: 16px 34px;
  }
  a:visited, a:link, a:active {
    color: $red;
  }
  a:hover, a:visited:hover {
    color: white;
  }
}

