.navbar-sublimes {
  background: none;
  &-logo {
    width: 240px;
    font-size: 10px;
  }
  &-container {
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    position: absolute;
    z-index: 999;
    padding-right: 3em;
    padding-left: 3em;

    span {
      font-size: 20px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 8px;
      font-weight: 600;
      font-style: normal;
      line-height: 1em;
    }
  }
  &-menu {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    font-family: $my-font, sans-serif;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: normal;
    line-height: 1em;
  }
  &-link {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: normal;
    line-height: 1em;
    padding: 0 20px 0 20px;
  }
  & a:hover {
    color: $red;
    text-decoration: none;
    text-shadow: none;
  }
  & a:active {
    text-decoration: none;
    text-shadow: none;
  }


  .dropdown {
    color: yellow;
  }
  .fa {
    font-size: 25px;
  }

}

// .navbar-toggle {
//   border: none;
//   transition: all 0.2s;
//   // background: transparent !important;
//   &:hover {
//   // background: transparent !important;
//   }
//   .bar {
//     margin: 2px;
//     border-radius: 5px;
//     border: 2px solid white;
//     -ms-transform: rotate(45deg);
//     -webkit-transform: rotate(45deg);
//     transform: rotate(45deg);
//   }
//   .top-bar {
//     transform: rotate(45deg);
//     transform-origin: 10% 10%;
//   }
//   .middle-bar {
//     opacity: 0;
//   }
//   .bottom-bar {
//     transform: rotate(-45deg);
//     transform-origin: 10% 90%;
//   }
// }
// .navbar-toggle.collapsed {
//   .top-bar {
//     -ms-transform: rotate(45deg);
//     -webkit-transform: rotate(45deg);
//     transform: rotate(45deg);
//   }
//   .middle-bar {
//     opacity: 1;
//   }
//   .bottom-bar {
//     -ms-transform: rotate(45deg);
//     -webkit-transform: rotate(45deg);
//     transform: rotate(45deg);
//   }
// }




/********* responsive **********/
/** mobile **/
@media (max-width: 767px) {
  .navbar-sublimes {
    &-container {
      padding-right: 10px;
      padding-left: 10px;
    }
    &-logo {
      width: 180px;
    }
    &-link {
      font-size: 10px;
      padding: 0 5px 0 5px;
    }
    .sublimes-logo {
      flex: 1;
    }
    .burger {
      padding: 0px 5px;
      height: 26px;
      width: 50px;
      .dropdown-menu {
        left: -94px;
        min-width: 116px;
        margin-top: 40px;
        padding: 2px 0 0 0;
      }
      .divider {
        margin: 0;
      }
      li {
        margin-top: 0.5em;
      }
      span {
        border: 1px solid;
        margin: 12px 3px;
        position: absolute;
        right: 0;
        width: 25px;
      }
      a:hover {
        color: white;
      }
      .top-bar {
        top: -8px;
      }
      .bottom-bar {
        top: 8px;
      }
      .open {
        .top-bar,
        .middle-bar,
        .bottom-bar {
          -webkit-transition: all 0.4s; /* Safari */
          transition: all 0.4s;
        }
        .top-bar {
          top: 0px;
          transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
        .middle-bar {
          display: none;
        }
        .bottom-bar {
          top: 0px;
          transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }
      }
    }
  }
}

