/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Backgrounds
.bg-grey {
  background: #F7F7F3;
}
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}
.grey-bg {
  background: #EFEFEF;
}
.grey-bg-darker {
  background: #E4E4E4;
}
.bg-green {
  background: $green;
}
.bg-red {
  background: $red;
}


.bg-green-light {
  background: linear-gradient(270deg, rgba(255, 81, 0, 0.7) 0%, rgba(255, 0, 0, 0.5) 50%);
}
.bg-dark{
  background: linear-gradient(0deg, rgba(255, 81, 0, 0.7) 0%, rgba(255, 0, 0, 0.5) 50%);
  // background: rgba(34, 34, 34, 0.26);
  padding: 150px 0px 150px 0px;
  width: 100%;
  color: white;
  position: absolute;
  height: 75%;
}
.bg-blue-dark {
  background: rgb(9, 72, 142);
}
.bg-grey-dark-image {
  background: #777D84;
}

.grey-line {
  // margin-top: 28px;
  // margin-bottom: 32px;
  border: 0;
  border-top: 1px solid #C7C7C7;
}

.bg-relative {
  position: relative;
}

.bg-dark-lisbon{
  background: linear-gradient(0deg, rgba(53, 53, 53, 0.7) 0%, rgba(77, 77, 77, 0.3) 50%);
  // background: rgba(34, 34, 34, 0.26);
  padding: 150px 0px 150px 0px;
  width: 100%;
  color: white;
  position: absolute;
  height: 75%;
}
