/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

.container {
  padding: 0;
  width: 100%;
}
.paragraph {
  padding: 150px 0 150px;
}

// Backgrounds
.bg-grey {
  background: #FBFBFB;
}
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

.content-padded-left-right {
  padded-left: 4em;
  padded-right: 4em;
}
