.whatwedo-container {
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;

  .white-font {
    h1 {
      color: white;
      text-shadow: 0px 2px 2px #5A5A5A;
    }
    p {
      color: white;
    }
    li {
      color: white;
    }

    h2 {
      color: white;
    }
    h3 {
      color: white;
      font-weight: 600;
    }
    br {
      color: white;
    }
    ul {
      color: white;
    }
  }

  h1 {
    font-size: 34px;
    line-height: 1.2em;
    letter-spacing: 2px;
    font-weight: 400;
    color: #595A57;
  }

  h2 {
    margin-bottom: 20px;
    color: #595A57;
    font-size: 24px;
    line-height: 1.2em;
    // text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    min-height: 2.5em;
  }
  h3 {
    margin: 0px;
    color: $red;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.6em;
    letter-spacing: 0px;
    font-weight: 300;
  }
  p {
    font-size: 18px;
    line-height: 1.6em;
    letter-spacing: 0px;
    font-weight: 300;
    color: rgba(26,26,26,.7)
  }
  ul {
    font-size: 18px;
    line-height: 1.6em;
    letter-spacing: 0px;
    font-weight: 300;
    color: rgba(26,26,26,.7)
  }

  & .date-apply-padding-down a:visited {
    color: $red;
  }
  & .date-apply-padding-down a:visited:hover {
    color: white;
  }

  .square-bg {
    padding: 0px 25px 25px 25px;
    border-radius: 4px;
    border: 2px solid #D0D0CF;
  }

  & .howwedo-content {
    margin: 50px 0 50px 0;
  }

}

.red-title {
  color: $red;
}

.subtitle {
  display: flex;
}

.button-paddingtop {
  padding-top: 8px;
}


.btn-red {
  background-color: none !important;
  border: 2px solid $red;
}

.price-content-button {
  color: white;
  font-family: 'proxima-nova', sans-serif;
  color: white;
  border-color: $red;
  background-color: $red;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 300;
  font-style: normal;
  transition: 0.1s background-color linear, 0.1s color linear;
  margin: 1em 0 .8em;
  text-rendering: optimizeLegibility;
  background-color: none;

  border-radius: 86px;
  line-height: 74px;
  padding: 18px 34px;
  border: 2px solid white;
  &:hover {
    color: black;
    border-color: $red;
    background-color: $red;
    text-decoration: none;
    text-shadow: none;
  }
}

.the-sublimes {
  .row {
    width: 75%;
  }
  .profil {
    margin: 10px 0px 10px 0px;
  }
  .social-link .fa {
    color: $gray-darker;
  }
}

.city-container {
  display: flex;
}









