.whatwedo-container {
  & .date-apply-padding-down a:visited {
    color: $red;
  }
  & .date-apply-padding-down a:visited:hover {
    color: white;
  }

  .square-bg {
    padding: 0px 25px 25px 25px;
    border-radius: 4px;
    border: 2px solid #D0D0CF;
  }

  & .howwedo-content {
    margin: 50px 0 50px 0;
  }

}

.red-title {
  color: $red;
}

.subtitle {
  display: flex;
}

.button-paddingtop {
  padding-top: 8px;
}


.btn-red {
  background-color: none !important;
  border: 2px solid $red;
}

.price-content-button {
  // font-family: 'proxima-nova', sans-serif;
  color: white;
  border-color: $red;
  background-color: $red;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 300;
  font-style: normal;
  transition: 0.1s background-color linear, 0.1s color linear;
  margin: 1em 0 .8em;
  text-rendering: optimizeLegibility;
  background-color: none;

  border-radius: 86px;
  line-height: 74px;
  padding: 18px 34px;
  border: 2px solid white;
  &:hover {
    color: black;
    border-color: $red;
    background-color: $red;
    text-decoration: none;
    text-shadow: none;
  }
}

.the-sublimes {
  .row {
    width: 75%;
  }
  .profil {
    margin: 10px 0px 10px 0px;
  }
  .social-link .fa {
    color: $gray-darker;
  }
}

.city-container {
  display: flex;
  h1, h2, p {
    color: white;
  }
}

.bg-blue-dark,
.bg-grey-dark-image {
  h1, h2, h3, p, ul, li {
    color: white;
  }
}








