.getinvolved {
  h1 {
    color: $gray-darker;
  }
  h2 {
    margin-top: 25px;
    margin-bottom: 50px;
    color: $gray-dark;
  }
  h3 {
    margin: 0px;
  }
  p {
    color: $gray-light;
  }
  .paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-sublimes {
    &-container {
      position: relative;
      border-bottom: 1px solid #E2E2E2;
      box-shadow: 0px 0px 2px #D4D4D4;
    }
    .sublimes-logo a {
      color: $gray-darker;
    }
    .navbar-sublimes-link a {
      color: #9E9E9E;
    }
    .navbar-sublimes-link a:hover,
    .sublimes-logo a:hover {
      color: $red;
      text-decoration: none;
    }
    .getinvolved-link a {
      color: $gray-darker;
    }
  }

  &-banner {
    background-image: url('https://static.pexels.com/photos/6552/nature-person-red-woman.jpg');
    text-shadow: 0px 2px 2px #5A5A5A;
    display: flex;
  }

  .mail-link {
    height: 57px;
    padding-top: 15px;
    margin-top: 55px;
    margin-bottom: 25px;
  }
}
