.team {
  h1 {
    color: $gray-darker;
  }
  h2 {
    color: $gray-dark;
  }
  h3 {
    margin: 0px;
  }
  p {
    color: $gray-light;
  }
  .paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-sublimes {
    &-container {
      position: relative;
      border-bottom: 1px solid #E2E2E2;
      box-shadow: 0px 0px 2px #D4D4D4;
    }
    .sublimes-logo a {
      color: $gray-darker;
    }
    .navbar-sublimes-link a {
      color: #9E9E9E;
    }
    .navbar-sublimes-link a:hover,
    .sublimes-logo a:hover {
      color: $red;
      text-decoration: none;
    }
    .team-link a {
      color: $gray-darker;
    }
  }

  &-banner {
    background-image: url('https://static.pexels.com/photos/6538/hands-woman-apple-desk.jpg');
    background-size: cover;
    text-shadow: 0px 2px 2px #5A5A5A;
    display: flex;
    & .container {
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-gradient-banner {
    background: linear-gradient(180deg, rgba(16, 121, 239, 0.58) 0%, rgba(0, 53, 243, 0.5) 50%);
    width: 100%;
    position: absolute;
    height: 75%;
  }
}
