.getinvolved {
  .navbar-sublimes-container{
    // position: relative;
    background-color: $red;
  }
  h1 {
    margin: 0px;
    color: $gray-darker;
  }

  h2 {
    margin-top: 25px;
    margin-bottom: 50px;
    color: $gray-dark;
  }

  h3 {
    margin: 0px;
  }
  .navbar-sublimes a {
    color: black;
  }
  .navbar-sublimes .getinvolved-link a {
    color: $red;
  }
  .navbar-sublimes a:hover {
    color: $red;
    text-decoration: none;
  }
  p {
    color: $gray-light;
  }
  .get-involved-banner {
        background-image: url("../../documents/galaxy-easter-eggs.jpg");
  }
}
