.team {
  .navbar-sublimes-container{
    position: relative;
  }
  h1 {
    margin: 0px;
    color: $gray-darker;
  }

  h2 {
    margin-top: 25px;
    margin-bottom: 50px;
    color: $gray-dark;
  }

  h3 {
    margin: 0px;
  }
  .navbar-sublimes a {
    color: black;
  }
  .team-link a {
    color: $yellow;
  }
  .navbar-sublimes a:hover {
    color: $yellow;
    text-decoration: none;
  }
  p {
    color: $gray-light;
  }
  .pic-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: inline-block;
  }
  .pic {
    width: 100px;
    height: 100%;
    overflow: hidden;
  }
}
