
.team {
  h1 {
    margin: 0px;
    color: $gray-darker;
  }

  h2 {
    margin-top: 25px;
    margin-bottom: 50px;
    color: $gray-dark;
  }

  h3 {
    margin: 0px;
  }

  p {
    color: $gray-light;
  }
}
