

<div class="whatwedo-container window-full-sized grey-bg paragraph" id="apply">
  <div class="container">
    <div class="row">
      <div class="col-xs-12" id= "price">
        <div class="whatwedo-content text-center paragraph-title">
          <h1 class="text-center">Ready to live the adventure?</h1>
          <!-- <div class="col-sm-12" >
            <h1>Immerse yourself in an inspiring & friendly environment for a month changing life experience!</h1>
          </div> -->
          <div class="col-sm-12 col-xs-12" data-sr="enter down, move 30px, over 1s">
            <h3><strong>From the 28th OF FEB to the 26TH OF MARCH in Lisbon</strong></h3>
            <br>
            <p>Price per person per month:
              <div>
                <ul class="list-unstyled">
                  <li>550€ for a triple room</li>
                  <li>650€ for a double room</li>
                  <li>750€ for a single room</li>
                </ul>
              </div>
            </p>
          </div>
          <div class="col-sm-12 col-xs-12" >
            <br>

            <div class="price price-padding fade-and-slide button-paddingtop">
              <%= button_tag "APPLY NOW",data: { toggle: "modal", target: "#myModal"}, id:"apply", class: "red-button" %>
<!--               <%= link_to "APPLY NOW", "#apply", class: "whatwedo-container-button" %> -->
            </div>
<!--             <p>Leave us your mail and get more info to join us!</p>
            <form action="//thesublimes.us12.list-manage.com/subscribe/post?u=0ce30d996a3f1a97cdff4652f&amp;id=5163c7006d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
              <input type="text" value="" name="FNAME"  id="mce-FNAME" placeholder="First name" class="form-control">
              <br><input type="text" value="" name="FNAME"  id="mce-FNAME" placeholder="Last name" class="form-control">
              <br><input type="text" value="" name="FNAME"  id="mce-FNAME" placeholder="Tell us a little bit about yourself" class="form-control">
              <br><input type="text" value="" name="FNAME"  id="mce-FNAME" placeholder="Tell us about your project for the month" class="form-control">
              <br><input type="email" name="EMAIL" id="mce-EMAIL" placeholder="you@gmail.com" class="form-control" required>

               do not remove this or risk form bot signups
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0ce30d996a3f1a97cdff4652f_00b91c6bae" tabindex="-1" value=""></div>
              <input type="submit" value="Bim!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
            </form>
 -->          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="" role="document">
    <div class="modal-content grey-bg">
    <div class="modal-inner">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="myModalLabel">Immerse yourself in an inspiring & friendly environment <br>for a mounth changing life experience !</h5>
      </div>

      <div class="modal-body">
        <form action="//thesublimes.us12.list-manage.com/subscribe/post?u=0ce30d996a3f1a97cdff4652f&amp;id=5163c7006d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>

            <fieldset class="name field-container required">
              <div class="field-title required">Name</div>
              <div class="field first-name">
                <label class="caption">
                  <input name="FNAME"  id="mce-FNAME" x-autocompletetype="given-name" type="text" spellcheck="false" maxlength="30" data-title="First" class="form-control" required>
                  <p>First Name</p>
                </label>
              </div>
              <div class="field last-name pull-right">
                <label class="caption">
                  <input name="LNAME"  id="mce-LNAME" x-autocompletetype="surname" type="text" spellcheck="false" maxlength="30" data-title="Last" class="form-control">
                  <p>Last Name</p>
                </label>
              </div>
            </fieldset>
            <div class="email field-container required">
              <label class="field-title required">Email</label>
              <input name="EMAIL" id="mce-EMAIL" x-autocompletetype="email" type="email" spellcheck="false" class="form-control" required>
            </div>
            <div  class="about-you field-container">
              <label class="field-title required">Tell us a little bit about yourself</label>
              <input type="text" value="" name="FNAME"  id="mce-FNAME" placeholder="" class="form-control">
            </div>
            <div  class="about-project field-container">
              <label class="field-title required">Tell us about your project for the month</label>
              <input type="text" value="" name="FNAME"  id="mce-FNAME" placeholder="" class="form-control">
            </div>


              <!-- do not remove this or risk form bot signups -->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0ce30d996a3f1a97cdff4652f_00b91c6bae" tabindex="-1" value=""></div>
              <input type="submit" value="Bim!" name="subscribe" id="mc-embedded-subscribe" class="red-button btn-submit pull-right">
            </form>
      </div>

<!--       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
 -->

    </div>
    </div>
  </div>
</div>











<div class="form-wrapper">

      <div class="form-title">HackerHouseParis it's a co-living space, We are focused on building a unique type of community.</div>


    <div class="form-inner-wrapper">

      <form autocomplete="on" action="" method="POST" onsubmit="return (function(form) { Y.use
      ('squarespace-form-submit', 'node',
      function (Y) { (new Y.Squarespace.FormSubmit({ formNode: Y.Node(form) })).submit('5638d744e4b0f772190b0fc2', '') }); return false;})(this)">


          <div class="field-list clear">
            <fieldset id="name-yui_3_17_2_1_1446474458930_12304" class="form-item fields name required">
                <div class="title required">Name</div>
                <legend>Name</legend>
                                  <div class="field first-name">
                    <label class="caption"><input class="field-element field-control" name="fname" x-autocompletetype="given-name" type="text" spellcheck="false" maxlength="30" data-title="First">
                    First Name</label>
                  </div>
                  <div class="field last-name">
                    <label class="caption"><input class="field-element field-control" name="lname" x-autocompletetype="surname" type="text" spellcheck="false" maxlength="30" data-title="Last">
                    Last Name</label>
                  </div>
                </fieldset>


    <div  class="form-item field email required">
      <label class="title required" for="">Email</label>
      <input class="field-element" name="email" x-autocompletetype="email" type="text" spellcheck="false" id="">
    </div>

                              <div id="radio-yui_3_17_2_1_1446478175186_32383" class="form-item field radio required">
                 <div class="title" for="radio-yui_3_17_2_1_1446478175186_32383-field">You are <span class="required">*</span></div>
                                                       <div class="option"><label><input type="radio" name="radio-yui_3_17_2_1_1446478175186_32383-field" value="Entrepreneur"> Entrepreneur</label></div>
                                      <div class="option"><label><input type="radio" name="radio-yui_3_17_2_1_1446478175186_32383-field" value="Software Engineer"> Software Engineer</label></div>
                                      <div class="option"><label><input type="radio" name="radio-yui_3_17_2_1_1446478175186_32383-field" value="Designer"> Designer</label></div>
                                      <div class="option"><label><input type="radio" name="radio-yui_3_17_2_1_1446478175186_32383-field" value="Marketing"> Marketing</label></div>
                                  </div>
          </div>


                <div class="form-button-wrapper">
          <input class="button sqs-system-button sqs-editable-button" type="submit" value="Join waiting list">
        </div>

        <div class="hidden form-submission-text"><p>Thank you!</p><p>We will reach you out shortly.</p><p>Stéphane<br>CEO HackerHouse@Paris</p></div>

        <div class="hidden form-submission-html" data-submission-html=""></div>
      </form>

    </div>


</div>






