

<div class="ready-to-apply whatwedo-container window-full-sized paragraph" id="apply">
  <div class="container">
    <div class="row">
      <div class=" text-center title col-xs-12" id= "price">
        <h1 class="text-center">Ready to live the adventure?</h1>
          <!-- <div class="col-sm-12" >
            <h1>Immerse yourself in an inspiring & friendly environment for a month changing life experience!</h1>
          </div> -->
          <div class="col-sm-12 col-xs-12" data-sr="enter down, move 30px, over 1s">
            <h3><strong>From the 28th OF FEB to the 26TH OF MARCH in Lisbon</strong></h3>
            <br>
            <p>Price per person per month:</p>
            <div>
              <p>
              <ul class="list-unstyled">
                <li>550€ shared triple room</li>
                <li>650€ shared double room</li>
                <li>750€ single room</li>
              </ul>
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12" >
            <br>
            <div class="price price-padding fade-and-slide button-paddingtop">
              <%= button_tag "APPLY NOW",data: { toggle: "modal", target: "#myModal"}, id:"apply", class: "red-button" %>
<!--               <%= link_to "APPLY NOW", "#apply", class: "whatwedo-container-button" %> -->
            </div>
<!--             <p>Leave us your mail and get more info to join us!</p>
            <form action="//thesublimes.us12.list-manage.com/subscribe/post?u=0ce30d996a3f1a97cdff4652f&amp;id=5163c7006d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
              <input type="text" value="" name="FNAME"  id="mce-FNAME" placeholder="First name" class="form-control">
              <br><input type="text" value="" name="FNAME"  id="mce-FNAME" placeholder="Last name" class="form-control">
              <br><input type="text" value="" name="FNAME"  id="mce-FNAME" placeholder="Tell us a little bit about yourself" class="form-control">
              <br><input type="text" value="" name="FNAME"  id="mce-FNAME" placeholder="Tell us about your project for the month" class="form-control">
              <br><input type="email" name="EMAIL" id="mce-EMAIL" placeholder="you@gmail.com" class="form-control" required>

               do not remove this or risk form bot signups
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0ce30d996a3f1a97cdff4652f_00b91c6bae" tabindex="-1" value=""></div>
              <input type="submit" value="Bim!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
            </form>
 -->          </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="" role="document">
    <div class="modal-content grey-bg">
    <div class="modal-inner">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="myModalLabel">Immerse yourself in an inspiring & friendly environment <br>for a month changing life experience !</h5>
      </div>

      <div class="modal-body">
        <form action="//thesublimes.us12.list-manage.com/subscribe/post?u=0ce30d996a3f1a97cdff4652f&amp;id=5163c7006d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>

            <fieldset class="name field-container required">
              <div class="field-title required">Name</div>
              <div class="field first-name">
                <label class="caption">
                  <input name="FNAME"  id="mce-FNAME" x-autocompletetype="given-name" type="text" spellcheck="false" maxlength="30" data-title="First" class="form-control" required>
                  <p>First Name</p>
                </label>
              </div>
              <div class="field last-name pull-right">
                <label class="caption">
                  <input name="LNAME"  id="mce-LNAME" x-autocompletetype="surname" type="text" spellcheck="false" maxlength="30" data-title="Last" class="form-control">
                  <p>Last Name</p>
                </label>
              </div>
            </fieldset>
            <div class="email field-container required">
              <label class="field-title required">Email</label>
              <input name="EMAIL" id="mce-EMAIL" x-autocompletetype="email" type="email" spellcheck="false" class="form-control" required>
            </div>
            <div  class="about-you field-container">
              <label class="field-title required">Tell us a little bit about yourself</label>
              <input type="text" value="" name="FNAME"  id="mce-FNAME" placeholder="" class="form-control">
            </div>
            <div  class="about-project field-container">
              <label class="field-title required">Tell us about your project for the month</label>
              <input type="text" value="" name="FNAME"  id="mce-FNAME" placeholder="" class="form-control">
            </div>


              <!-- do not remove this or risk form bot signups -->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0ce30d996a3f1a97cdff4652f_00b91c6bae" tabindex="-1" value=""></div>
              <input type="submit" value="Join us" name="subscribe" id="mc-embedded-subscribe" class="btn-submit pull-right">
            </form>
      </div>

<!--       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
 -->

    </div>
    </div>
  </div>
</div>







