<div class="ready-to-apply whatwedo-container window-full-sized paragraph text-center" id="apply">
  <div class="container">
    <div class="row bg-white grey-outline-all font-price">
      <h1>Ready to live the adventure?</h1>
      <h2>One month in Lisbon</h2>
      <div class="col-xs-12">
        <div class="container-pricing white-font col-xs-12 col-sm-10 col-sm-offset-1">
          <span class="pricing-typo">March 16 to April 9</span>
        </div>
      </div>
      <div class="pricing-circle-container col-xs-12">
        <div class="col-xs-12 col-sm-4">
          <div class="pricetag-circle">
            <span class="pricetag-label">
              <span class="uppercase-style">shared triple room</span>
              <span class="pricetag-number">600€</span>
              <span class="month">per month</span>
            </span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="pricetag-circle bordered-top">
            <span class="pricetag-label">
              shared double room
              <span class="pricetag-number">700€</span>
              <span class="month">per month</span>
            </span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="pricetag-circle bordered-top">
            <span class="pricetag-label">
              single room
              <span class="pricetag-number">800€</span>
              <span class="month">per month</span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-xs-12" >
        <div class="price price-padding button-paddingtop">
           <%= link_to "Apply now", href="https://docs.google.com/forms/d/1ZSI6z-G3HI3n34iixw7Oc3dXhseOFxfsy37wxH8jxsA/viewform?usp=send_form", target:'blank', class: "red-button" %>
        </div>
      </div>
    </div>
  </div>
</div>

