

<div class="whatwedo-container window-full-sized grey-bg paragraph" id="apply">
  <div class="container">
    <div class="row">
      <div class"col-xs-12" id= "price">
        <div class="whatwedo-content text-center paragraph-title">
          <div class="col-sm-12" >
            <h1>Immerse yourself in an inspiring & friendly environment for a month changing life experience!</h1>
          </div>
          <div class="col-sm-6 col-xs-12 text-left" data-sr="enter down, move 30px, over 1s">
            <h2>Ready to live the adventure?</h2>
            <h3>From the 28th OF FEB to the 26TH OF MARCH in Lisbon</h3>
            <p>Price per person per month:
              <ul>
                <li>550€ for a triple room</li>
                <li>650€ for a double room</li>
                <li>750€ for a single room</li>
              </ul>
            </p>
          </div>
          <div class="col-sm-6 col-xs-12" >
            <h2 class="section-header">Apply now</h2>
            <p>Leave us your mail and get more info to join us!</p>
            <form action="//thesublimes.us12.list-manage.com/subscribe/post?u=0ce30d996a3f1a97cdff4652f&amp;id=5163c7006d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
              <input type="text" value="" name="FNAME"  id="mce-FNAME" placeholder="First name" class="form-control">
              <br><input type="text" value="" name="FNAME"  id="mce-FNAME" placeholder="Last name" class="form-control">
              <br><input type="text" value="" name="FNAME"  id="mce-FNAME" placeholder="Tell us a little bit about yourself" class="form-control">
              <br><input type="text" value="" name="FNAME"  id="mce-FNAME" placeholder="Tell us about your project for the month" class="form-control">
              <br><input type="email" name="EMAIL" id="mce-EMAIL" placeholder="you@gmail.com" class="form-control" required>

              <!-- do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0ce30d996a3f1a97cdff4652f_00b91c6bae" tabindex="-1" value=""></div>
              <input type="submit" value="Bim!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container prices-container city-container bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12 text-center white-font">
        <h1>Discover the city of Lisbon</h1>
      </div>
    </div>
  </div>
</div>

