<div class="banner-container window-full-sized paragraph">
  <div class="container banner" data-sr="enter top">
    <div class="row banner-content text-center">
      <div class="col-sm-12">
        <div class="main-title">
          <p>Breath, Connect, Build</p>
          <h1>We offer coliving & coworking retreat for women in tech who want to grow</h1>
        </div>
        <div class="date-apply-padding-down fade-and-slide text-center">
          <h2>APPLY NOW</h2>
          <%= link_to "31<sup>st</sup> OF JAN TO 27<sup>TH</sup> OF FEB", "#apply", class: "banner-content-button" %>
        </div>
      </div>
    </div>
  </div>
</div>

We offer flexible, community-driven housing by providing fully furnished, month-to-month memberships, beginning in New York City.
