<div class="banner-container">
  <div class="banner-nav-container" style="background-image: url('http://www.djsurgeles.com/wp-content/uploads/2013/11/download-wallpaper-free-universe-space-galaxy-univ-23979.jpg')">
    <div class="nav-content">
      <%= partial "navbar" %>
    </div>
    <div class="banner">
      <div class="banner-content text-center">
        <h1>Breath, Connect, Build</h1>
        <h2>Retreat for women in tech who want to grow</h2>
        <%= link_to "Apply for one month", "#apply", class: "btn banner-cta-item btn-danger btn-lg" %>
      </div>
    </div>
  </div>
</div>
