<div class="banner-container">
  <div class="banner">
    <div class="banner-content text-center fade-and-slide">
      <div class="main-title">
        <h1>Breath, Connect, Build</h1>
        <h2>Retreat for women in tech who want to grow</h2>
      </div>
      <div class="date-apply-padding-down fade-and-slide text-center">
        <h3>APPLY NOW</h3>
        <%= link_to "31ST OF JAN TO 27TH OF FEB", "#apply", class: "banner-content-button banner-cta-item btn-lg" %>
      </div>
    </div>
  </div>
</div>
