<!-- <div class="banner-container window-full-sized">
  <div class="paragraph">
    <div class="container banner" data-sr="enter top">
      <div class="row banner-content text-center">
        <div class="col-sm-12">
          <div class="main-title">
            <p>Breath, Connect, Build</p>
            <h1>Retreat for women in tech who want to grow</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fade-and-slide bg-red">
    <div class="container banner" data-sr="enter top">
      <div class="row banner-content text-center">
        <div class="col-sm-12">
          <div class="date-apply-padding-down white-font text-center red-bg">
            <h2>Join the next session in Lisbon from the 28<sup>th</sup> of feb to the 26<sup>th</sup> of march</h2>
            <%= link_to "APPLY NOW", "#apply", class: "banner-content-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->


<div class="banner banner-container window-full-sized paragraph">
  <div class="container banner" data-sr="enter top">
    <div class="row banner-content text-center">
      <div class="col-sm-12">
        <div class="main-title">
          <p>Breath, Connect, Build</p>
          <h1>We offer a month coliving & coworking retreat
            <br>for women in tech who want to grow</h1>
        </div>
        <div class="date-apply-padding-down fade-and-slide">
          <h2>APPLY NOW</h2>
          <%= link_to "28<sup>th</sup> of feb to 26<sup>th</sup> of march", "#apply", class: "banner-content-button" %>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- We offer flexible, community-driven housing by providing fully furnished, month-to-month memberships, beginning in New York City.
We offer flexible, community-driven housing by providing fully furnished, month-to-month memberships, beginning in New York City.
-->
