<div class="banner-container window-full-sized paragraph">
  <div class="container banner" data-sr="enter top">
    <div class="row banner-content text-center">
      <div class="main-title">
        <p>Breath, Connect, Build</p>
        <h1>Retreat for women in tech who want to grow</h1>
      </div>
      <div class="date-apply-padding-down fade-and-slide text-center">
        <h2>APPLY NOW</h2>
        <%= link_to "31<sup>st</sup> OF JAN TO 27<sup>TH</sup> OF FEB", "#apply", class: "banner-content-button" %>
      </div>
    </div>
  </div>
</div>
