<div class="whatwedo-container paragraph grey-bg text-center last-paragraph">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <h1>Community Partners</h1>
        <div class="partner-icons col-xs-12">
          <div class="col-xs-6 col-sm-4" data-sr="enter left, move 30px, over 1s">
            <%= image_tag "creative_valley_logo.svg", width: "100" %>
          </div>
          <div class="col-xs-6 col-sm-4" data-sr="enter left, move 30px, over 1s">
            <%= image_tag "logo-gef.png", width: "100" %>
          </div>
        </div>
        <!-- <h3 class="price-content-button price price-padding fade-and-slide ">Become a partner</h3> -->
        <div class="become-partner-btn fade-and-slide button-paddingtop col-sm-12">
          <%= link_to "Become a partner", href="mailto:thesublimes@gmail.com?subject=partnership", class: "red-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
