<div class="top-features">
  <div class="container">
    <div class="col-xs-12 col-sm-4">
      <div class="features">
        <div class="text-center">
          <i class="fa fa-comment fa-dark-red"></i>
        </div>
        <h2>Accommodation</h2>
        <p>✔ Private room
          ✔ Shared kitchen and bathrooms
          ✔ Central location
          ✔ Housekeeping service
          ✔ Communal supplies
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="feature">
        <span>
          <%= image_tag "chat.png" %>
        </span>
        <h2>
          Workspace
        </h2>
        <p>✔ Fast internet
          ✔ Coworking & chillout area
          ✔ Meeting room & call space
          ✔ Natural light & 24/7 access
          ✔ Projector, printer & LCD displays
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="feature">
        <span>
          <%= image_tag "chat.png" %>
        </span>
        <h2>Community
        </h2>
        <p>
          ✔ Events, trips & meetups
          ✔ Like-minded people
          ✔ International community
          ✔ Professional connections
          ✔ A lot of fun and new friends
        </p>
      </div>
    </div>
  </div>
</div>
