<div class="top-features paragraph bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>What we offer</h2>
      </div>
      <div class="col-xs-12 col-sm-4" data-sr="enter left, move 30px, over 1s">
        <div class="features text-center">
          <div class="text-center">
            <i class="fa fa-comment fa-dark-red"></i>
          </div>
          <h3>Accommodation</h3>
          <p>Private & shared room <br>
            Shared kitchen and bathrooms <br>
            Central location <br>
            Housekeeping service <br>
            Communal supplies <br>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4" data-sr="enter bottom, move 30px, over 1s">
        <div class="features text-center">
          <div class="text-center">
            <i class="fa fa-comment fa-dark-red"></i>
          </div>
          <h3>
            Workspace
          </h3>
          <p>Internet <br>
            Coworking <br>
            Chillout area <br>
            Projector <br>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4" data-sr="enter right, move 30px, over 1s">
        <div class="features text-center">
          <div class="text-center">
            <i class="fa fa-comment fa-dark-red"></i>
          </div>
          <h3>Community
          </h3>
          <p>
            Coffee <br>
            Talks, brainstorming & coaching <br>
            Peer-to-peer collaboration <br>
            Like-minded people <br>
            Professional connections <br>
            Yoga & meditation
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
