<div class="text-center window-full-sized paragraph" id="apply">
  <div class="container">
    <div class="row">

      <% link_to "#top" do %>
        <div class="back-to-top-link">
          <span class="arrow-to-top"></span>
          <p>top</p>
        </div>
      <% end %>

      <h2 class="section-header">Apply now</h2>
      <p>Leave us your mail and get stylus news</p>
      <form class="form-inline">
        <input type="email" placeholder="camila@gmail.com" class="form-control">
        <input type="submit" value="Subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
      </form>
    </div>
  </div>
</div>

