<!-- <div class="text-center paragraph">
  <div class="container">
    <div class="row">
      <div class="text-center col-xs-12">
 -->


        <h1 class="title">Stay tuned</h1>
        <p>Leave us your mail and get stylus news</p>

        <form action="//thesublimes.us12.list-manage.com/subscribe/post?u=0ce30d996a3f1a97cdff4652f&amp;id=00b91c6bae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
          <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="you@gmail.com" class="form-control" required>
          <!-- do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0ce30d996a3f1a97cdff4652f_00b91c6bae" tabindex="-1" value=""></div>
          <input type="submit" value="Keep in touch" name="subscribe" id="mc-embedded-subscribe" class="btn-submit">
        </form>

<!--       </div>
    </div>
  </div>
</div>
 -->
