<h1 class="title">Stay in the loop</h1>
<p></p>

<form action="//thesublimes.us12.list-manage.com/subscribe/post?u=0ce30d996a3f1a97cdff4652f&amp;id=00b91c6bae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
  <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Email Address" class="form-control" required>
  <!-- do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0ce30d996a3f1a97cdff4652f_00b91c6bae" tabindex="-1" value=""></div>
  <input type="submit" value="Keep in touch" name="subscribe" id="mc-embedded-subscribe" class="btn-submit">
</form>
