<div class="container">
  <div class="form-content text-center">
    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input hidden-xs" placeholder="Search for featured stuff">
      <button type="submit" class="navbar-wagon-search-btn hidden-xs">
        <i class="fa fa-search"></i>
      </button>
</form>
  </div>
</div>

