<div class="howwedo-container paragraph">
  <div class="row">
    <div class"col-xs-12">
      <div class="whatwedo-content text-center paragraph-title">
        <h2>Co-living Co-working Co-boosting</h2>
        <div class="col-sm-4 col-xs-12" data-sr="enter left, move 30px, over 1s">
          <h3>Get stimulated</h3>
          <p>
            We look for friendly, self-directed and curious people who enjoy working and want to get better at what they do.
          </p>
        </div>
        <div class="col-sm-4 col-xs-12" data-sr="enter bottom, move 30px, over 1s">
          <h3>Be thoughtful</h3>
          <p>
            The atmosphere here is friendly and intellectual.
            We have social rules. We like profound respect for each individual as a person and learner. We like asking questions in an environment that is not just productive but also supportive, friendly, and positive.
          </p>
        </div>
        <div class="col-sm-4 col-xs-12" data-sr="enter right, move 30px, over 1s">
          <h3>Get Focus</h3>
          <p>
            It's rare to have such a large, uninterrupted chunk of time to focus on just one thing. Even at work, most of us have multiple responsibilities and priorities to juggle. Here is a good place to start a project, and test it with the community.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
