<div class="howwedo-container">
  <div class="row">
    <div class"col-xs-12">
      <div class="howwedo-content howwedo-bg text-center">
        <h2>We provide to help women</h2>
          <p>
            We love it.
          </p>
      </div>
    </div>
  </div>
</div>
