<div class="whatwedo-container whatwedo-bg">
  <div class="row">
    <div class"col-xs-12">
      <div class="whatwedo-content text-center">
        <h2>Our mission is to help women</h2>
          <p>

          </p>
      </div>
    </div>
  </div>
</div>

<div class="howwedo-container whatwedo-bg">
  <div class="row">
    <div class"col-xs-12">
      <div class="howwedo-content text-center">
        <h2>We provide to help women</h2>
          <p>
            We love it.
          </p>
      </div>
    </div>
  </div>
</div>
