<nav class="navbar-sublimes">
  <div class="container navbar-sublimes-container">

    <% link_to "/" do %>
      <%= image_tag "sublimes.png", size: "200", class: "navbar-sublimes-logo" %>
    <% end %>

    <div class="navbar-sublimes-menu">
      <%= link_to "TEAM", "/team.html", class: "" %>
    </div>

    <div class="navbar-sublimes-item">
      <%= link_to "SPONSORS", "/sponsors.html", class: "" %>
    </div>



  </div>
</nav>
