<div class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>You want to stay informed?</h2>
        <p>Sign up for our newsletter to receive updates right in your inbox!
        </p>
      </div>
    </div>
  </div>
</div>
