<div class="whatwedo-container paragraph grey-bg">
  <div class="container">
    <div class="row">
      <div class"col-xs-12 text-center">
        <h1>Partnerships</h1>
          <div class="image col-sm-2 col-xs-12" data-sr="enter right, move 30px, over 1s">
          <%= image_tag "coding.png", width: "300", class: "" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="grey-line">
        </div>
      </div>
    </div>
  </div>
</div>
