<div class="prices-container paragraph bg-grey">
  <div class="col-sm-12 col-xs-12 text-center">
    <h3>It's accessible</h3>
      <p>
        We're trying to keep the price accessible for everyone.
        <br>
        There is shared rooms for those who have a smaller wallet and private rooms for those who needs to keep their privacy.
      </p>
  </div>
  <div class="container-form card ">
   <div class="row">
      <div class="col-xs-12 text-center" id= "price">
        <p>
          TRIPLE ROOM 500€/PERSON
          DOUBLE ROOM 600€/PERSON
          SINGLE ROOM 700€/PERSON
        </p>
      </div>
   </div>
  </div>
</div>
