<div class="container-form card padded-bottom">
 <div class="row">
    <div class="col-xs-12 text-center" id= "price">
      <p>
        TRIPLE ROOM 500€/PERSON
        DOUBLE ROOM 600€/PERSON
        SINGLE ROOM 700€/PERSON
      </p>
    </div>
 </div>
</div>

