<div class="prices-container paragraph bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12 text-center">
        <h3>Let's be accessible</h3>
          <p>
            We're trying to keep the price accessible for everyone.
            <br>
            There is shared rooms for those who have a smaller wallet and private rooms for those who needs to keep their privacy.
          </p>
      </div>
      <div class="col-sm-12 col-xs-12 text-center">
        <h4>Price per person per room</h4>
      </div>
      <div class="container-form card">
       <div class="row">
          <div class="col-xs-12 text-center" id= "price">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default">500€<br>TRIPPLE ROOM</button>
              <button type="button" class="btn btn-default">600€<br>DOUBLE ROOM</button>
              <button type="button" class="btn btn-default">700€<br>SINGLE ROOM</button>
            </div>
          </div>
       </div>
      </div>
    </div>
  </div>
</div>
