<div class="whatwedo-container ">
  <div class="row">
    <div class"col-xs-12">
      <div class="whatwedo-content whatwedo-bg text-center">
        <h2>Co-living Co-working Co-boosting</h2>
          <p>
          </p>
      </div>
    </div>
  </div>
</div>
