<div class="whatwedo-container window-full-sized paragraph">
  <div class="container">
    <div class="row">
      <div class"col-xs-12">
        <div class="howwedo-content text-center">
          <h2>One month co-living immersive project & mind accelerator for women developers, designers and entrepreneurs</h2>
            <p>
              Immerse yourself in an inspiring & friendly environment for a month changing life experience!
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="top-features window-full-sized paragraph">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>What we offer</h2>
      </div>
      <div class="col-xs-12 col-sm-4" data-sr="enter left, move 30px, over 1s">
        <div class="features text-center">
          <div class="text-center">
            <i class="fa fa-comment fa-dark-red"></i>
          </div>
          <h3>Accommodation</h3>
          <p>Private & shared room <br>
            Shared kitchen and bathrooms <br>
            Central location <br>
            Housekeeping service <br>
            Communal supplies <br>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4" data-sr="enter bottom, move 30px, over 1s">
        <div class="features text-center">
          <div class="text-center">
            <i class="fa fa-comment fa-dark-red"></i>
          </div>
          <h3>
            Workspace
          </h3>
          <p>Internet <br>
            Coworking <br>
            Chillout area <br>
            Projector <br>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4" data-sr="enter right, move 30px, over 1s">
        <div class="features text-center">
          <div class="text-center">
            <i class="fa fa-comment fa-dark-red"></i>
          </div>
          <h3>Community
          </h3>
          <p>
            Coffee <br>
            Talks, brainstorming & coaching <br>
            Peer-to-peer collaboration <br>
            Like-minded people <br>
            Professional connections <br>
            Yoga & meditation
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container window-full-sized paragraph">
  <div class="container">
    <div class="row">
      <div class"col-xs-12">
        <div class="howwedo-content text-center">
          <h2>Why is The Sublimes Camp for women?</h2>
          <p>We identify local obstacles women see to success in tech.
          <br>We encourage women to be deliberate and purposeful in planning their careers.
          <br>We try to open women’s eyes to leadership possibilities.
          <br>We create and expand women’s networks.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="howwedo-container window-full-sized paragraph">
  <div class="container">
    <div class="row">
      <div class"col-xs-12">
        <div class="whatwedo-content text-center paragraph-title">
          <h2>What can you work on?</h2>
          <div class="col-sm-3 col-xs-12" data-sr="enter left, move 30px, over 1s">
            <h3>Remote work</h3>
          </div>
          <div class="col-sm-3 col-xs-12" data-sr="enter bottom, move 30px, over 1s">
            <h3>Self-directed study</h3>
          </div>
          <div class="col-sm-3 col-xs-12" data-sr="enter right, move 30px, over 1s">
            <h3>Entrepreneurship</h3>
          </div>
           <div class="col-sm-3 col-xs-12" data-sr="enter right, move 30px, over 1s">
            <h3>Side-projects</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="howwedo-container window-full-sized paragraph">
  <div class="container">
    <div class="row">
      <div class"col-xs-12">
        <div class="whatwedo-content text-center paragraph-title">
          <h2>Why The Sublimes House?</h2>
            <div class="col-sm-3 col-xs-12" data-sr="enter left, move 30px, over 1s">
              <h3>Work/Life Balance</h3>
              <p>Get immersed in an environment proven to optimize for learning.
              <p>
            </div>
          <div class="col-sm-3 col-xs-12" data-sr="enter bottom, move 30px, over 1s">
            <h3>Set weekly goals</h3>
            <p>
              On mondays we go for lunch to set weekly goals and see how we can help each others.
            </p>
          </div>
          <div class="col-sm-3 col-xs-12" data-sr="enter bottom, move 30px, over 1s">
            <h3>Talks and workshop</h3>
            <p>
              We encourage participants to share knowledge with others.
              We organise talks with people from outside that have interesting knowledge to share.
            </p>
          </div>
          <div class="col-sm-3 col-xs-12" data-sr="enter right, move 30px, over 1s">
            <h3>Showcase your work</h3>
            <p>
              On thursdays we encourage participants to show they work so they can get feedbacks, encouragments and practise public speaking.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container window-full-sized paragraph">
  <div class="container">
    <div class="row">
      <div class"col-xs-12">
        <div class="howwedo-content text-center">
          <h2>A typical day at The Sublimes House</h2>
          <p>7am - Yoga, jogging, reading...
          <br>8am - Breakfast
          <br>9:30am - Start morning work session
          <br>12:30am - Cook lunch or lunch at a restaurant nearby
          <br>2pm - Work afternoon session
          <br>6pm - Talk from the participants
          <br>7pm - dinner and hanging out with the group
          <br>8pm - games, movies, or nightlife
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="howwedo-container window-full-sized paragraph">
  <div class="container">
    <div class="row">
      <div class"col-xs-12">
        <div class="whatwedo-content text-center paragraph-title">
          <h2>Co-living Co-working Co-boosting</h2>
          <div class="col-sm-4 col-xs-12" data-sr="enter left, move 30px, over 1s">
            <h3>Stimulating</h3>
            <p>
              We look for friendly, self-directed and curious people who enjoy working and want to get better at what they do.
            </p>
          </div>
          <div class="col-sm-4 col-xs-12" data-sr="enter bottom, move 30px, over 1s">
            <h3>Be thoughtful</h3>
            <p>
              The atmosphere here is friendly and intellectual.
              We have social rules. We like profound respect for each individual as a person and learner. We like asking questions in an environment that is not just productive but also supportive, friendly, and positive.
            </p>
          </div>
          <div class="col-sm-4 col-xs-12" data-sr="enter right, move 30px, over 1s">
            <h3>Get Focus</h3>
            <p>
              It's rare to have such a large, uninterrupted chunk of time to focus on just one thing. Even at work, most of us have multiple responsibilities and priorities to juggle. Here is a good place to start a project, and test it with the community.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="prices-container window-full-sized paragraph">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12 text-center">
        <h3>Let's be accessible</h3>
          <p>
            We're trying to keep the price accessible for everyone.
            <br>
            There is shared rooms for those who have a smaller wallet and private rooms for those who needs to keep their privacy.
          </p>
      </div>
      <div class="col-sm-12 col-xs-12 text-center">
        <h3>One month immersive co-living co-working in the center of Lisbon</h3>
        <h3>From the 31ST OF JAN to the 27TH OF FEB</h3>
      </div>
      <div class="col-sm-12 col-xs-12 text-center">
        <h4>Price per person per room</h4>
      </div>
      <div class="container-form card">
       <div class="row">
          <div class="col-xs-12 text-center" id= "price">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default">500€<br>TRIPPLE ROOM</button>
              <button type="button" class="btn btn-default">600€<br>DOUBLE ROOM</button>
              <button type="button" class="btn btn-default">700€<br>SINGLE ROOM</button>
            </div>
          </div>
       </div>
      </div>
    </div>
  </div>
</div>

