<div class="whatwedo-container window-full-sized paragraph">
  <div class="container">
    <div class="row">
      <div class"col-xs-12">
        <div class="howwedo-content text-center">
          <h2>One month co-living immersive project & mind accelerator</h2>
            <p>
              Immerse yourself in an inspiring & friendly environment for a month changing life experience!
            </p>
            <h2>Why is The Sublimes Camp for women?</h2>
            <p>We identify local obstacles women see to success in tech.
              <br>We encourage women to be deliberate and purposeful in planning their careers.
              <br>We try to open women’s eyes to leadership possibilities.
              <br>We create and expand women’s networks.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>


