---
title: Sublime House - Value
---

<div class="about-banner window-tree-quarter-sized text-center white-font" >
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      <h1>Empowering successful women</h1>
        <p>
          We know there are many obstacles women face in order to be successful in tech.
          <br>We encourage them to be organised and purposeful in structuring their careers.
          <br>We try to open women’s eyes to their own leadership potential, while creating and expanding their networks.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="paragraph grey-bg text-center last-paragraph">
  <div class="container">
    <div class="row">
      <h1>A positive social environment</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12 col-sm-6">
          <h2>Stimulating</h2>
          <p>
            We are looking for friendly and curious people who enjoy working and want to get better at what they do. People who ask questions and seek answers. People who are comfortable tackling new challenges and making new discoveries. People who never stop exploring.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h2>Focus</h2>
          <p>
            It's rare to have such a large, uninterrupted chunk of time to focus on just one thing. At work or not, most of us have multiple responsibilities and priorities to juggle. This is a good place to start a project and test it with the community.
          </p>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-12 col-sm-6">
          <h2>Thoughtful</h2>
          <p>
            The atmosphere here is friendly and intellectual. We have social rules. We show respect to each other as people and as learners. We enjoy asking questions in an environment that is not just productive but also supportive, friendly, and positive.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h2>Self-directed</h2>
          <p>
            We value intrinsic motivation and self-direction. We believe people learn best when they're free to explore their passions and interests.
          </p>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-12 col-sm-6">
          <h2>Lend a hand</h2>
          <p>
            Help out. Leave places better than you found them. Share your unique talents with those around you.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h2>Open the door</h2>
          <p>
            Encourage others and invite them to join in. Relish the opportunity to connect with interesting people. Get to know those around you. Dive in and take part in all the community has to offer.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container paragraph">
  <div class="container">
    <div class="row">
      <h1 class="col-xs-12 col-sm-12 col-md-9"><!-- <strong>Boost your productivity</strong><br>  -->We encourage a healthy work management formula</h1>
      <div class="col-xs-12 col-sm-8 col-md-9">
        <ul>
          <p>
          <li>Yoga, jogging, meditation...</li>
          <li>Work session</li>
          <li>Daily pairing coaching</li>
          <li>Start with the hardest or most valuable thing first</li>
          <li>Timely breaks during the day, we like the 52-17 method</li>
          <li>Cook lunch or lunch at a restaurant nearby</li>
          <li>We encourage napping sessions</li>
          <li>Finish work early</li>
          <!-- <li>Talks from the participants</li> -->
          <li>Dinner and hanging out with the group</li>
        <!--   <li>Playtime</li>
 -->          <li>A to-do-list prepared the night before</li>
          </p>
        </ul>
      </div>
      <div class="boost-image col-xs-3 col-sm-4 col-md-3 hidden-xs" data-sr="enter bottom, move 60px, over 1s">
        <%= image_tag "startup.png", width: "150", class: "" %>
      </div>
    </div>
  </div>
</div>

