
<div class="whatwedo-container paragraph grey-bg">
  <div class="container">
    <div class="row">
      <div class"col-xs-12">
        <div class="howwedo-content text-center">
          <h1>Empowering the success of women</h1>
          <h2>We know they are local obstacles women see to success in tech</h2>
          <div class="container text-center">
            <p>
              <br>We encourage women to be deliberate and purposeful in planning their careers.
              <br>We try to open women’s eyes to leadership possibilities.
              <br>We create and expand women’s networks.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="grey-line">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container paragraph grey-bg">
  <div class="container">
    <div class="row">
      <div class"col-sm-12">
        <div class="whatwedo-content text-center paragraph-title">
          <h1>A positive social environment</h1>
          <div class="col-xs-12 " data-sr="enter bottom, move 60px, over 0.8s">
            <div class="col-sm-4">
              <h2>Stimulating</h2>
              <p>
                We look for friendly, self-directed and curious people who enjoy working and want to get better at what they do.
              </p>
            </div>
            <div class="col-sm-4">
              <h2>Be thoughtful</h2>
              <p>
                The atmosphere here is friendly and intellectual.
                We have social rules. We like profound respect for each individual as a person and learner. We like asking questions in an environment that is not just productive but also supportive, friendly, and positive.
              </p>
            </div>
            <div class="col-sm-4">
              <h2>Get Focus</h2>
              <p>
                It's rare to have such a large, uninterrupted chunk of time to focus on just one thing. Even at work, most of us have multiple responsibilities and priorities to juggle with. Here is a good place to start a project, and test it with the community.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="grey-line">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container paragraph grey-bg">
  <div class="container">
    <div class="row">
      <div class"col-xs-12 whatwedo-content text-center paragraph-title">
        <h1 class="text-center">We Boost your productivity</h1>
        <h2 class="text-center" >We encourage to practice a good formula for work management</h2>
        <div class="howwedo-content text-left">
          <ul>
            <li>Eating healthy</li>
            <li>Yoga, meditation, because it reduces stress</li>
            <li>Timely breaks during the day, we like the 52-17 method</li>
            <li>We encourage napping session</li>
            <li>A to-do-list prepared the night before</li>
            <li>Focus on things that build your project</li>
            <li>Start with the hardest thing first or the most valuable</li>
            <li>Daily pairing coaching</li>
            <li>Finish work early</li>
            <li>Playtime, relax with your mates</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
