---
title: Sublime House - Value
---

<div class="whatwedo-container about-container paragraph text-center">
  <div class="container">
    <div class="row">
      <h1>Empowering the success of women</h1>
      <h2>We know they are local obstacles women see to success in tech</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class"col-xs-12">
        <p>
          We encourage women to be deliberate and purposeful in planning their careers.
          <br>We try to open women’s eyes to leadership possibilities.
          <br>We create and expand women’s networks.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container paragraph grey-bg text-center">
  <div class="container">
    <div class="row">
      <h1>A positive social environment</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h2>Stimulating</h2>
        <p>
          We look for friendly and curious people who enjoy working and want to get better at what they do. Ask questions and seek answers. Tackle new challenges and make new discoveries. Never stop exploring.
        </p>
      </div>
      <div class="col-xs-6">
        <h2>Self-directed</h2>
        <p>
          We value intrinsic motivation and self-direction, and believe people learn best when they're free to explore their passions and interests.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h2>Thoughtful</h2>
        <p>
          The atmosphere here is friendly and intellectual.
          We have social rules. We like profound respect for each individual as a person and learner. We like asking questions in an environment that is not just productive but also supportive, friendly, and positive.
        </p>
      </div>
      <div class="col-xs-6">
        <h2>Focus</h2>
        <p>
          It's rare to have such a large, uninterrupted chunk of time to focus on just one thing. Even at work, most of us have multiple responsibilities and priorities to juggle with. Here is a good place to start a project, and test it with the community.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h2>Lend a hand</h2>
        <p>
          Help out. Leave places better than you found them. Share your unique talents with those around you.
        </p>
      </div>
      <div class="col-xs-6">
        <h2>Open the door</h2>
        <p>
          Welcome others and invite them to join in. Relish in the opportunity to connect with interesting people.
          Get to know those around you. Dive in and take part in all the community has to offer.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="grey-line">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container paragraph grey-bg last-paragraph">
  <div class="container">
    <div class="row">
      <div class"col-xs-12 whatwedo-content text-center paragraph-title">
        <h1 class="text-center">We Boost your productivity</h1>
        <h2 class="text-center" >We encourage to practice a good formula for work management</h2>
        <div class="text-left">
          <ul>
            <li>Eating healthy</li>
            <li>Yoga, meditation, because it reduces stress</li>
            <li>Timely breaks during the day, we like the 52-17 method</li>
            <li>We encourage napping session</li>
            <li>A to-do-list prepared the night before</li>
            <li>Start with the hardest thing first or the most valuable</li>
            <li>Daily pairing coaching</li>
            <li>Finish work early</li>
            <li>Playtime, relax with your mates</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
