---
title: The Sublimes Sponsors
---

<!-- <div class="getinvolved-page">
 -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Get involved</h2>
      </div>
    </div>
  </div>

  <div class="whatwedo-container paragraph">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="howwedo-content text-center">
            <h2>Mentor at The Sublimes House</h2>
            <p>
              Mentoring at The Sublimes House is the best way to give back to our participants.
              If you want to connect with and help aspiring women in tech, we'd love to have you as a mentor!
              We respect and value your time, so we keep the commitment light or up to you.
              Please enter your information below, and we will contact you.
              Volunteer to mentor at The Sublimes House!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="whatwedo-container window-full-sized paragraph">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="howwedo-content text-center">
            <h2>Connect with the participants</h2>
            <p>
              We're driven by building community and love to hear from developers, entrepreneures, designers, data scientists, business strategists... all the interesting people working in the tech industry.
              Our community is a collective group of creators made up of individuals who are motivated, possess an entrepreneurial spirit, and are equipped with the most in-demand skills of the 21st century.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="whatwedo-container window-full-sized paragraph">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="howwedo-content text-center">
            <h2>Be a Guest Speaker</h2>
            <p>
              We have wonderful participants, but it's nice for them to hear from people currently working in industry. Our Guest Speakers talk about the projects they are working on, their business strategy, or how they became who they are.

              If you are interested in giving a short talk, enter your information bellow.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="whatwedo-container paragraph">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="howwedo-content text-center">
            <h2>Sponsors</h2>
            <p>
              We are always excited to collaborate with companies who are passionate about diversity in tech and giving back to the community. The Sublimes House relies on corporate support to extend programs for women. Companies can participate by supporting:
              Hackathons for women
              Industry dinners
              Mentorship Program: Companies are encouraged to have their people volunteer to mentor The Sublimes participants!
              Workshops
              Talks
              Materials we could work with: 3d-printer, arduinos, beers.
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- </div>
 -->






