---
title: Sublime Sponsors
---

<div class="getinvolved-banner window-tree-quarter-sized text-center white-font">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Connect with the participants</h1>
        <p>
          We are driven by building community and love to hear from developers, entrepreneurs, designers, data scientists, business strategists... all the interesting people working in the tech industry.
          Our community is a collective group of creators made up of individuals who are motivated, who possess an entrepreneurial spirit, and are equipped with the most in-demand skills of the 21st century.
        </p>
        <div class="mail-link">
          <%= link_to "Connect", href="mailto:contact@hellosublimehouse.com?subject=Connect", class: "banner-content-button" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="paragraph grey-bg text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Mentor at Sublime House</h1>
        <p>
          Mentoring at Sublime House is the best way to give back to our participants.
          If you want to connect with and help aspiring women in tech, we'd love to have you as a mentor!
          We respect and value your time, so we keep the commitment light or up to you.
          Please enter your information below, and we will contact you.
          Volunteer to mentor at the Sublime House!
        </p>
        <div class="mail-link">
          <%= link_to "Become a mentor", href="mailto:contact@hellosublimehouse.com?subject=Mentoring", class: "red-button" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="paragraph text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Be a Guest Speaker</h1>
        <p>
          We have wonderful participants, but it's nice for them to hear from people currently working in industry. Our Guest Speakers talk about the projects they are working on, their business strategy, or how they became who they are.

          If you are interested in giving a short talk, enter your information bellow.
        </p>
        <div class="mail-link">
          <%= link_to "Become a guest speaker", href="mailto:contact@hellosublimehouse.com?subject=Speaker", class: "red-button" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="paragraph text-center grey-bg last-paragraph">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Sponsors</h1>
        <p>
          We are always excited to collaborate with companies who are passionate about diversity in tech and giving back to the community. Sublime House relies on corporate support to extend programs for women. Companies can participate by supporting: hackathons for women, industry dinners, mentorship program: Companies are encouraged to have their people volunteer to mentor the Sublime House's participants! And also workshops, talks, materials we could work with: 3d-printer, arduinos, beers...
        </p>
        <div class="mail-link">
          <%= link_to "Become a partner", href="mailto:contact@hellosublimehouse.com?subject=Partnership", class: "red-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
