---
title: Sublime Sponsors
---

<!-- <div class="getinvolved-page">
 -->



<div class="whatwedo-container paragraph">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="howwedo-content text-center">
          <h2>Mentor at Sublime House</h2>
          <p>
            Mentoring at Sublime House is the best way to give back to our participants.
            If you want to connect with and help aspiring women in tech, we'd love to have you as a mentor!
            We respect and value your time, so we keep the commitment light or up to you.
            Please enter your information below, and we will contact you.
            Volunteer to mentor at the Sublime House!
          </p>
          <div class="price price-padding fade-and-slide button-paddingtop">
            <%= button_tag "Become a mentor",data: { toggle: "modal", target: "#"}, id:"", class: "red-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container ">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="grey-line">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="whatwedo-container paragraph text-center ">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="howwedo-content">
          <h2>Connect with the participants</h2>
          <p>
            We're driven by building community and love to hear from developers, entrepreneures, designers, data scientists, business strategists... all the interesting people working in the tech industry.
            Our community is a collective group of creators made up of individuals who are motivated, possess an entrepreneurial spirit, and are equipped with the most in-demand skills of the 21st century.
          </p>
          <div class="price price-padding fade-and-slide button-paddingtop">
            <%= button_tag "connect",data: { toggle: "modal", target: "#"}, id:"", class: "red-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div

<div class="whatwedo-container grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="grey-line">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container paragraph">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="howwedo-content text-center">
          <h2>Be a Guest Speaker</h2>
          <p>
            We have wonderful participants, but it's nice for them to hear from people currently working in industry. Our Guest Speakers talk about the projects they are working on, their business strategy, or how they became who they are.

            If you are interested in giving a short talk, enter your information bellow.
          </p>
          <div class="price price-padding fade-and-slide button-paddingtop">
            <%= button_tag "Become a guest speaker",data: { toggle: "modal", target: "#"}, id:"", class: "red-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container paragraph grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="howwedo-content text-center">
          <h2>Sponsors</h2>
          <p>
            We are always excited to collaborate with companies who are passionate about diversity in tech and giving back to the community. The Sublimes House relies on corporate support to extend programs for women. Companies can participate by supporting:
            Hackathons for women
            Industry dinners
            Mentorship Program: Companies are encouraged to have their people volunteer to mentor the Sublime's participants!
            Workshops
            Talks
            Materials we could work with: 3d-printer, arduinos, beers...
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container paragraph grey-bg text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="price price-padding fade-and-slide button-paddingtop">
          <%= button_tag "Become a partner",data: { toggle: "modal", target: "#"}, id:"", class: "red-button" %>
        </div>
      </div>
    </div>
  </div>
</div>





