---
title: The Sublimes Sponsors
---

<div class="container card">
 <div class="row">
    <div class="col-xs-12 text-center">
      You want to become a sponsors
      <div class="list-inline">
        <%= image_tag "http://www.placehold.it/100x100", class: "img-circle" %>
        <%= image_tag "http://www.placehold.it/100x100", class: "img-circle" %>
      </div>
    </div>
 </div>
</div>



<div class="whatwedo-container paragraph">
  <div class="container">
    <div class="row">
      <div class"col-xs-12">
        <div class="howwedo-content text-center">
          <h2>Connect with the participants</h2>
          <p>
            We're driven by building community and love to hear from developers, entrepreneures, designers, data scientists, business strategists working in industry.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container paragraph">
  <div class="container">
    <div class="row">
      <div class"col-xs-12">
        <div class="howwedo-content text-center">
          <h2>Be a Guest Speaker</h2>
          <p>
            We have wonderful participants, but it's nice for them to hear from people currently working in industry. Our Guest Speakers talk about the projects they are working on, their business strategy, or how they became who they are.

            If you are interested in giving a short talk, email us.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="whatwedo-container paragraph">
  <div class="container">
    <div class="row">
      <div class"col-xs-12">
        <div class="howwedo-content text-center">
          <h2>Mentor at The Sublimes House</h2>
          <p>
            Mentoring at The Sublimes House is the best way to give back to our participants.
            If you want to connect with and help aspiring women in tech, we'd love to have you as a mentor!
            We respect and value your time, so we keep the commitment light or up to you.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whatwedo-container paragraph">
  <div class="container">
    <div class="row">
      <div class"col-xs-12">
        <div class="howwedo-content text-center">
          <h2>Why our Godmothers are here?</h2>
          <p>
           • They join a reputable network of qualified investors gathered by TheSublimes to invest in the best of the best on the women scene;
• They have privileged access to our proprietary deal flow and the ability to co-invest with TheFamily through special purpose vehicles;
• They mitigate their risks by spreading their capital on multiple startups selected among the top performers in our Fellowship;
• They have access to a fenced secondary market on which all our investors can exchange shares in our various investment vehicles;
• They hold shares in our holding company, which is a hedge against the risk taken when investing in particular companies in our Deal Flow;
• They can use our SPVs to avoid becoming too visible on the angel investment scene, thus preserving themselves from constant sollicitation;
• They can use our SPVs as a means for avoiding the red tape: having interests in a company and owning rights in its governance;
• They, even with moderate investment amounts, access to the best deals with favorable terms thanks to TheFamily’s syndication power;
• They can rely on TheFamily’s privileged relationship with its Fellows, entering a network based on trust and transparency;
• They don’t have to conduct due diligence on every company they invest in: TheFamily takes care of everything;
• They benefit from what we provide them on top of the Deal Flow: market trends monitoring, details on their portfolio’s performance;
• Finally, our Godfathers are aligned with TheFamily, which allows them to take advantage of TheFamily’s leveraging power with VCs when they invest in subsequent rounds.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>








