---
title: The Sublimes Sponsors
---

<div class="container card">
 <div class="row">
    <div class="col-xs-12 text-center">
      You want to become a sponsors
      <div class="list-inline">
        <%= image_tag "http://www.placehold.it/100x100", class: "img-circle" %>
        <%= image_tag "http://www.placehold.it/100x100", class: "img-circle" %>
      </div>
    </div>
 </div>
</div>
