---
title: Sublime Team
---

<div class="team-banner window-tree-quarter-sized white-font text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Our Team</h1>
        <p> We are a dynamic team of coders and designers on a mission to encourage women in tech.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="paragraph text-center grey-bg last-paragraph">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Mission Statement</h1>
        <p>
        As of 2015, it is estimated that 70% of leadership and non-leadership positions in the biggest Silicon Valley companies are currently held by men. Although it is proven that having more women in a company is better for business, companies such as Google, Facebook, LinkedIn, and Twitter still have a long way to go before gender equity. Sublime House is aimed at re-imagining womens' opportunities in tech by increasing female representation through mentorship and community support. A community that offers empowerment, trust and the chance for women to change their lives. We need to meet the need for brilliant, capable women who can build on their skills and motivation. Our mission is to enable the next generation of women in tech to balance the statistics, advance their careers, take leadership positions, build their networks and work towards unlocking the true promise of women.
        </p>
      </div>
    </div>
  </div>
</div>


