---
title: Sublime Team
---

<div class="team-banner window-tree-quarter-sized white-font text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Our Team</h1>
        <p>We are a dynamic team of coders and designers.
          <br>We're on a mission to encourage and help women in tech.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="paragraph text-center grey-bg last-paragraph">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Mission Statement</h1>
        <p>
        As of 2015, it is estimated that in the biggest companies of the Silicon Vallley 70% of leadership and non leadership positions are held by men.
        Although it is proven that having more women in a company is better for business companies such as Google, Facebook, LinkedIn, and Twitter are still working on better mixity developing their mixity.
        Sublime House is a re-imagining the professional future of women in tech with an aim to increase female representation through mentorship and community.
        Empowering trust and giving the opportunity to women to make a change in their life.
        There is a huge unmet need for brilliant and capable women who can build on their skills and motivation.
        Our mission is to enable the next generation of women to leverage statistics, advance their career, improve their leadership positions, build their network, build a method to unlock the true promise of women.
        </p>
      </div>
    </div>
  </div>
</div>
