---
title: The Sublimes Team
---

<!-- <div class="team-page">
 -->
  <div class="container card">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>This is the team</h2>
        <div class="list-inline">
          <%= image_tag "anna_mimouni.JPG", class: "photo-team" %>
          <%= image_tag "http://www.placehold.it/100x100", class: "img-circle" %>
        </div>
      </div>
    </div>
  </div>

  <div class="container card">
    <div class="row">
      <div class="col-xs-12 text-left">
        <h2>Our Team</h2>
        <p>
          A dynamic team of coder and designer.
          <br>We like to build our community.
          <br>We're on a mission to better encourage and worship women in tech.
        </p>
      </div>
    </div>
  </div>

  <div class="container card">
    <div class="row">
      <div class="col-xs-12 text-left">
        <h2>Mission Statement</h2>
        <p>
        The Sublimes House is a re-imagination of professional futur for women in tech with a mission to increase female representation through mentorship and community.

        As of 2015, it is estimated that in the biggest companies of the Silicon Vallley 70% of leadership and non leadership positions are held by men.
        Although it is proven that having more women in a company is better for business such as Google, Facebook, LinkedIn, and Twitter are still developing their mixity.

        Empowering trust and giving the opportunity to women to make a change in their life.
        There is a huge unmet need for brilliant and capable women who can build on their skills and motivation.

        Our mission is to enable the next generation of women to leverage statistics, advanced their carreer, improve their leadership positions, build their network, build a method to unlock the true promise of women.
        </p>
      </div>
    </div>
  </div>

<!-- </div>
 -->







