---
title: Sublime Team
---

<!-- <div class="team-page">
 -->



 <div class="whatwedo-container the-sublimes paragraph grey-bg text-center">
  <div class="container">
    <div class="row">
      <div class="title col-xs-12">
        <h2>Our Team</h2>
        <p>A dynamic team of coder and designer.
          <br>We're on a mission to better encourage and worship women in tech.</p>
      </div>
    </div>
  </div>
<!--   <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="profil col-sm-6 col-xs-12" data-sr="enter left, move 30px, over 1s">
          <%= image_tag "http://www.placehold.it/100x100", class: "img-circle" %>
          <p>
            <strong>Gwenda</strong>
            <br>She is a programmer in C, PHP, JS, HTML & CSS
          </p>
        </div>
        <div class="profil col-sm-6 col-xs-12" data-sr="enter bottom, move 30px, over 1s">
          <div class="list-inline">
            <div class="pic-circle">
              <%= image_tag "anna_mimouni.JPG", class: "pic" %>
            </div>
          </div>
          <p>
            <strong>Anna</strong>
            <br>
            She is a UX / UI designer & art director with the basics in programming and webdevelopment.
            Learning Ruby, HTML & CSS
          </p>
        </div>
      </div>
    </div>
  </div>
 --></div>

<div class="whatwedo-container paragraph text-center last-paragraph">
  <div class="container">
    <div class="row">
      <div class="text-left col-xs-12">
        <h2>Mission Statement</h2>
        <br>
        <p>
        Sublime House is a re-imagination of professional futur for women in tech with a mission to increase female representation through mentorship and community.

        As of 2015, it is estimated that in the biggest companies of the Silicon Vallley 70% of leadership and non leadership positions are held by men.
        Although it is proven that having more women in a company is better for business such as Google, Facebook, LinkedIn, and Twitter are still developing their mixity.

        Empowering trust and giving the opportunity to women to make a change in their life.
        There is a huge unmet need for brilliant and capable women who can build on their skills and motivation.

        Our mission is to enable the next generation of women to leverage statistics, advanced their carreer, improve their leadership positions, build their network, build a method to unlock the true promise of women.
        </p>
      </div>
    </div>
  </div>
</div>


<!-- </div>
 -->







